# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
# *.exe
*.out
*.app


# 大文件
libcef.dll
Debug/cef_sandbox.lib
!*Release/cef_sandbox.lib
# *.pak
